---
import Social from "./Social.astro";
import { BsTwitterX } from "react-icons/bs";
import { FaSquareFacebook } from "react-icons/fa6";
import { GrLinkedin } from "react-icons/gr";
import { FaGithub } from "react-icons/fa";
import { IoMdMailUnread } from "react-icons/io";
---

<div class="flex flex-wrap gap-3">
  <Social href="https://twitter.com" Logo={BsTwitterX} social="Twitter" />
  <Social
    href="https://facebook.com"
    Logo={FaSquareFacebook}
    social="Facebook"
  />
  <Social href="https://linkedin.com" Logo={GrLinkedin} social="LinkedIn" />
  <Social href="https://github.com" Logo={FaGithub} social="GitHub" />
  <Social
    href="mailto:example@email.com"
    Logo={IoMdMailUnread}
    social="Email"
  />
</div>
